{% extends 'base.html' %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
{% block content %}   
<input type="button" onclick="location.href='/post';" value="Make a Tweet">
  {% for tweet in tweets %}
    <ul>
      <li><a href="/user/{{tweet.author.username}}">@{{tweet.author.username}}</a> - <a href="/status/{{tweet.id}}">{{tweet.tweet_date}}</a>
        <ul>
          <li>
            {{tweet.content}}
          </li>
        </ul>
      </li>
    </ul>
  {% endfor %}
  {% include 'components/picture_modal.html' %}
{% endblock %}
