{% extends 'base.html' %}
{% block content %}
<div class="card float-start" style="width: 18rem;">
  <div class="card-header">About {{ username }}</div>
  <div class="card-body">
    <p class="card-text">Following: {{ follow_count|length }}</p>
    <p class="card-text">Tweets: {{ tweets|length }}</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    {{username}}'s Tweets
  </div>
  <ul class="list-group list-group-flush">
    {% for tweet in tweets %}
        <li class="list-group-item">@{{tweet.author.username}} - <a href="/status/{{tweet.id}}">{{tweet.tweet_date}}</a>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {{tweet.content}}
            </li>
          </ul>
        </li>
    {% endfor %}
  </ul>
</div>
{% if request.user.username != username %}
{% if is_following %}
  <input type="button" onclick="location.href='/unfollow/{{username}}';" value="Unfollow">
{% else %}
  <input type="button" onclick="location.href='/follow/{{username}}';" value="Follow">
{% endif %}
{% endif %}
</div>
{% endblock %}
